In [1]:
%load_ext lab_black

In [2]:
# Import Dependencies
import pandas as pd

In [20]:
# File to Load
data = pd.read_csv("../Resources/books_clean.csv")

# Reformat headers
# df = data.rename(columns=lambda header_string: header_string.lower().replace(" ", "_"))
# df.head()

# Read the modified GoodReads csv and store into Pandas DataFrame
df = data.rename(
    columns=lambda header_string: header_string.lower().replace(" ", "_")
).drop("isbn", axis=1)

df.read_csv("goodreads_v2.csv")

,publication_year,original_title,authors,one_star_reviews,two_star_reviews,three_star_reviews,four_star_reviews,five_star_reviews
0,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [ ]:
# Calculate the number of unique authors in the DataFrame


# Calculate the earliest/latest year a book was published


# Calculate the total reviews for the entire dataset
# Hint: use the pandas' sum() method to get the sum for each row

In [ ]:
# Place all of the data found into a summary DataFrame