In [8]:
import pandas as pd

In [9]:
data = [
    {"Frame": "8x10", "Price": 10, "Sales": 100},
    {"Frame": "3x5", "Price": 15, "Sales": 20},
    {"Frame": "10X20", "Price": 25, "Sales": 300},
    {"Frame": "7x10", "Price": 20, "Sales": 500},
    {"Frame": "20x30", "Price": 30, "Sales": None},
]

In [10]:
df1 = pd.DataFrame(data)
df1

   Frame  Price  Sales
0   8x10     10  100.0
1    3x5     15   20.0
2  10X20     25  300.0
3   7x10     20  500.0
4  20x30     30    NaN

In [11]:
data2 = {
    "Painting": ["Mona Lisa", "Van Gogh", "Starving Artist"],
    "Price": [100, 150, 20],
    "Popularity": ["High", "Moderate", "Low"]
}

In [12]:
df2 = pd.DataFrame(data2)
df2

          Painting  Price Popularity
0        Mona Lisa    100       High
1         Van Gogh    150   Moderate
2  Starving Artist     20        Low

In [13]:
# Multiplying lists / series

In [14]:
# Do it in the standard python library

prices = [15, 12.5, 10, 5]
sales = [100, 200, 150, 300]

[price * quantity for price, quantity, in zip(prices, sales)]

[1500, 2500.0, 1500, 1500]

In [15]:
# Do it with pandas

prices_s = pd.Series([15, 12.5, 10, 5])
sales_s = pd.Series([100, 200, 150, 300])

prices_s * sales_s

0    1500.0
1    2500.0
2    1500.0
3    1500.0
dtype: float64